{% extends "master" %}

{% use "master/head" %}
{% use "master/body/header" %}
{% use "master/body/main" %}
{% use "master/body/footer" %}

{% block document_head_javascripts %}
    <script type="text/javascript" src="{{ elixir('javascripts/auth.js') }}" defer="defer"></script>{% endblock %}

{% block document_body_main %}
    <main class="container-fluid">
        {% if errors.any %}
            <div class="alert alert-danger">
                <strong>Whoops!</strong> There were some problems with your input.<br><br>
                <ul>
                    {% for error in errors.all %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <a href="/users/create">Register</a> | <a href="/auth/login/google">Google Login</a> | <a href="/auth/login/twitter">Twitter Login</a> | <a href="/auth/login/facebook">Facebook Login</a>

        <form class="form-horizontal" role="form" method="POST" action="/auth/login">
            <input type="hidden" name="_token" value="{{ csrf_token() }}">

            <fieldset class="form-group">
                <label class="col-md-4 control-label">E-Mail Address</label>

                <div class="col-md-6">
                    <input type="email" class="form-control" name="email" value="{{ old('email') }}">
                </div>
            </fieldset>

            <fieldset class="form-group">
                <label class="col-md-4 control-label">Password</label>

                <div class="col-md-6">
                    <input type="password" class="form-control" name="password">
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember"> Remember Me
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <button type="submit" class="btn btn-primary" style="margin-right: 15px;">
                        Login
                    </button>

                    <a href="/password/email">Forgot Your Password?</a>
                </div>
            </fieldset>
        </form>
    </main>
{% endblock %}
