<!DOCTYPE html>
<html lang="en">
    <head>
        {{ block('document_head') }}
    </head>
    <body>
        {{ block('document_body_header') }}

        {{ block('document_body_main') }}

        {{ block('document_body_footer') }}
    </body>
</html>
