{% extends "layout" %}

{% use "layout/head" %}
{% use "layout/body/header" %}
{% use "layout/body/main" %}
{% use "layout/body/footer" %}

{% block document_head_title %}<title>Error - Audith Basis</title>{% endblock %}

{% block document_head_javascripts %}{% endblock %}

{% block document_head_stylesheets %}
    <link rel="stylesheet" href="{{ elixir('auth.css') }}">
{% endblock %}

{% block document_body_header %}
    <header class="container">
        <h1 class="col-md-12">Audith <em>Basis</em></h1>
    </header>
{% endblock %}

{% block document_body_main %}
    <main>
        <section class="col-md-12">
            <h3 class="font-green col-md-12"><b>Error</b>!</h3>
        </section>
    </main>
{% endblock %}
