{% extends "layout" %}

{% use "layout/head" %}
{% use "layout/body/header" %}
{% use "layout/body/main" %}
{% use "layout/body/footer" %}

{% block document_head_title %}<title>Update Account - Audith Basis</title>{% endblock %}

{% block document_head_javascripts %}
	<script type="text/javascript" src="{{ elixir('javascripts/auth.js') }}"></script>
{% endblock %}

{% block document_head_stylesheets %}
	<link rel="stylesheet" href="{{ elixir('stylesheets/auth.css') }}">
{% endblock %}

{% block document_body_header %}
	<header class="container-fluid">
		<h1 class="text-center">Audith Basis</h1>
	</header>
{% endblock %}

{% block document_body_main %}
	<main class="container-fluid">
		<h2><b>Error</b>!</h2>

		<ul class="col-md-12">
			<li class="col-md-6 col-md-offset-6 text-right"><a href="{{ route('logout', [], false) }}">{{ trans('auth.buttons.logout') }}</a></li>
		</ul>
	</main>
{% endblock %}
