.*
bootstrap/cache/*
node_modules
vendor
public/build
public/fonts/*
public/swagger*
!resources/assets/sass/global/vendor
storage/*.key
storage/app/*
storage/build/tools/*
!storage/build/tools/sfnt2woff
storage/coverage
storage/framework/cache/*
storage/framework/config.php
storage/framework/routes.php
storage/framework/compiled.php
storage/framework/services.json
storage/framework/events.scanned.php
storage/framework/routes.scanned.php
storage/framework/down
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!.babelrc
!.env.*
!.git*
!*.yml
_ide_helper.php
composer.lock
old
