.*
*.mwb.bak
node_modules
vendor
bootstrap/cache/*
public/bower_components
public/build
public/fonts/*
public/javascripts/*
public/swagger*
resources/assets/stylesheets/*
!resources/assets/sass/global/vendor
storage/app/*
storage/build/tools/*
!storage/build/tools/sfnt2woff
storage/coverage
storage/framework/cache/*
storage/framework/config.php
storage/framework/routes.php
storage/framework/compiled.php
storage/framework/services.json
storage/framework/events.scanned.php
storage/framework/routes.scanned.php
storage/framework/down
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
composer.lock
_ide_helper.php
!.git*
!.env.*
!*.yml
!.bowerrc
old
