<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Illuminate TestCases">
            <directory suffix="Test.php">./tests/JsonApi</directory>
            <directory suffix="Test.php">./tests/Misc</directory>
            <directory suffix="Test.php">./tests/Models</directory>
            <directory suffix="Test.php">./tests/WebUi/Illuminate</directory>
        </testsuite>
        <testsuite name="SauceWebDriver TestCases">
            <directory suffix="Test.php">./tests/WebUi/SauceWebDriver</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">./database</directory>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./storage/coverage/report" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./storage/coverage/coverage.xml"/>
        <log type="coverage-php" target="./storage/coverage/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="json" target="./storage/coverage/logfile.json"/>
        <log type="tap" target="./storage/coverage/logfile.tap"/>
        <log type="junit" target="./storage/coverage/logfile.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="./storage/coverage/testdox.html"/>
        <log type="testdox-text" target="./storage/coverage/testdox.txt"/>
    </logging>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
