.red {
    color: #ff7878;
}

.blue {
    color: #6b97f4;
}

.green {
    color: #507d50;
}

.brown {
    color: #763d3d;
}

.white {
    color: white;
}

.light-green {
    color: #1fb5ad;
}

.light-blue {
    color: #269abc;
}

.light-red {
    color: #ff7878;
}

.yellow {
    color: #aaa900;
}

.phast {
    color: #70cac8;
}
