<!DOCTYPE html>
<html lang="en">
    <head>
        {{ block('document_head') }}
    </head>
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-md">
        {{ block('document_body_header') }}

        {{ block('document_body_main') }}

        {{ block('document_body_footer') }}
    </body>
</html>
