.label {
    @include border-radius(1px);
    font-weight: 400;
}

.label-blue {
    background-color: #6b97f4;
}

.label-dark {
    background-color: #58595b;
}

.label-light-blue {
    background-color: #269abc;
}

.label-yellow {
    background-color: #aaa900;
}

.label-green {
    background-color: #507d50;
}

.label-brown {
    background-color: #763d3d;
}

.label-red {
    background-color: #ff7878;
}

.label-black {
    background-color: #3f414d;
}

.label-light-green {
    background-color: #1fb5ad;
}
