.progress {
    @include border-radius(1px);
    height: 5px;

    .progress-bar.six-sec-ease-in-out {
        @include transition(width 6s ease-in-out);
    }
}

.progress-bar[aria-valuenow="0"] {
}

.progress.vertical {
    margin: 0 10px;

    .progress-bar.six-sec-ease-in-out {
        @include transition(height 6s ease-in-out);
    }
}

.progress-bar-danger {
    background: #ff7878;
}

.v-progressbar {
    height: 175px;
    margin: 0 auto;

    .progress.vertical {
        width: 50px;

        .progress-bar.six-sec-ease-in-out {
            @include transition(height 6s ease-in-out);
        }
    }
}

.ls-light-green-progress {
    background-color: #269abc;
}

.ls-light-blue-progress {
    background-color: #1fb5ad;
}

.ls-green-progress {
    background-color: #507d50;
}

.ls-yellow-progress {
    background-color: #aaa900;
}

.ls-red-progress {
    background-color: #ff7878;
}
