.badge-Blue {
    background-color: #6b97f4;
}

.badge-lightBlue {
    background-color: #269abc;
}

.badge-yellow {
    background-color: #aaa900;
}

.badge-green {
    background-color: #507d50;
}

.badge-brown {
    background-color: #763d3d;
}

.badge-red {
    background-color: #ff7878;
}
