.ls-breadcrumbs {
    display: inline-block;
    overflow: hidden;
    @include border-radius(1px);

    a {
        text-decoration: none;
        outline: none;
        display: block;
        float: left;
        font-size: 12px;
        line-height: 36px;
        color: #565656;
        padding: 0 20px 0 30px;
        background-color: #e3dfd8;
        position: relative;

        &:first-child {
            padding-left: 20px;
            @include border-radius(1px);
        }

        &:first-child:before {
            left: 14px;
        }

        &:last-child {
            @include border-radius(1px);
            padding-right: 20px;
        }

        &.active, &:hover {
            background-color: #e0e0e0;
        }

        &.active:after, &:hover:after {
            background-color: #e0e0e0;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -18px;
            width: 36px;
            height: 36px;
            transform: scale(0.707) rotate(45deg);
            z-index: 1;
            background-color: #e3dfd8;
            box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.1), 3px -3px 0 2px #e0e0e0;
            @include border-radius(0 5px 0 50px);
        }

        &:last-child:after {
            content: none;
        }

        .fa {
            font-size: 14px;
            margin-right: 3px;
            color: #565656;
        }
    }
}

.ls-breadcrumbs-simple {
    display: inline-block;
    overflow: hidden;
    @include border-radius(1px);

    a {
        text-decoration: none;
        outline: none;
        display: block;
        float: left;
        font-size: 12px;
        color: #565656;
        padding: 0 10px 0 10px;
        position: relative;

        &:first-child {
            padding-left: 0;
            margin-left: 0;
            @include border-radius(1px);
        }

        &:first-child:before {
            left: 14px;
        }

        &:last-child {
            @include border-radius(1px);
            padding-right: 20px;
        }

        &.active,
        &.active .fa,
        &:hover {
            color: #1fb5ad;
        }

        &.active:after,
        &:hover:after,
        &:hover .fa {
            color: #1fb5ad;
        }

        &:after {
            content: '';
            position: absolute;
            top: 4px;
            right: 0;
            width: 10px;
            height: 10px;
            transform: scale(0.707) rotate(45deg);
            z-index: 1;
            box-shadow: 1px -1px 0 1px rgba(0, 0, 0, 0.1), 1px -1px 0 1px #e3dfd8;
            @include border-radius(0 5px 0 50px);
        }

        &:last-child:after {
            content: none;
        }

        .fa {
            font-size: 14px;
            margin-right: 3px;
            color: #565656;
        }
    }
}

.breadcrumb {
    @include border-radius(1px);
    background-color: #e0e0e0;
    margin-bottom: 15px;

    &.no-background {
        background-color: transparent;
    }

    li {
        font-size: 12px;

        a {
            color: #565656;
            font-size: 12px;
            outline: 0;
        }
    }

    > li + li:before {
        color: #565656;
    }
}

.breadcrumb-box {
    margin-bottom: 20px;
}
