@import "compass/reset";
@import "compass/css3";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

@import "base/progress";
@import "base/fonts";
@import "base/badges";
@import "base/labels";

body {
    font-size: 14px;
    height: 100%;
    background: #f9f9f9;
}

body.single-page {
    background: #565656;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    line-height: 23px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #e0e0e0;
    margin: 1em 0;
    padding: 0;
}

pre {
    @include border-radius(1px, 1px);
}

label {
    font-weight: 400;
}

textarea {
    font-weight: normal;
}

a:hover {
    text-decoration: none;
}
