@import 'global/variables';
@import 'global/fonts/fontawesome';
@import 'global/fonts/opensans';
@import 'global/fonts/simple-line-icons';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~select2/src/scss/core';
@import '~select2-bootstrap-theme/src/select2-bootstrap';
@import 'global/components/mixins';
@import 'global/components-md';
@import 'global/plugins-md';

/*
|------------------------------
| Login page
|------------------------------
*/

$bg-color: #364150;

body {
    background-color: $bg-color !important;

    > header {
        margin-top: ($grid-gutter-width * 1.5);

        > h1 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 1.9em;
            color: white;
            text-align: center;
            text-transform: uppercase;

            > em {
                font-style: normal;
                color: red;
            }
        }
    }

    main {
        background-color: #eceef1;
        border-radius: 7px;
        width: $screen-xs-min;
        margin: ($grid-gutter-width * 4 / 3) auto ($grid-gutter-width / 3);
        padding-top: ($grid-gutter-width / 3);
        padding-bottom: $grid-gutter-width;
        overflow: hidden;
        position: relative;

        h3 {
            color: #4db3a5;
            text-align: center;
            font-size: 28px;
            font-weight: 400 !important;
        }

        h4 {
            color: #555555;
        }

        .hint {
            color: #999999;
            padding: 0;
            margin: 15px 0 7px 0;
        }

        .login-form {
            > .login-options {
                margin-bottom: 30px;
                overflow: hidden;

                > h4 {
                    float: left;
                    font-weight: 600;
                    font-size: 15px;
                    color: #7d91aa !important;
                }

                > ul {
                    float: right;
                    padding-top: 3px;

                    > li {
                        list-style: none;

                        > a {
                            width: 30px;
                            height: 30px;
                            display: block;
                            border-radius: 15px 15px 15px 15px !important;
                            line-height: 30px;
                            color: white;

                            &:hover {
                                text-decoration: none;
                            }

                            &.fa-google-plus {
                                background-color: $brand-color-googleplus;
                            }

                            &.fa-twitter {
                                background-color: $brand-color-twitter;
                            }

                            &.fa-facebook {
                                background-color: $brand-color-facebook;
                            }
                        }
                    }
                }
            }
        }

        .form-control {
            background-color: #dde3ec;
            height: 43px;
            color: #8290a3;
            border: 1px solid #dde3ec;

            &:focus, &:active {
                border: 1px solid #c3ccda;
            }

            @include placeholder(#8290a3);
        }

        select.form-control {
            padding-left: 9px;
            padding-right: 9px;
        }

        .forget-form {
            .form-actions {
                border: 0;
                margin-bottom: 0;
                padding-bottom: 20px;
            }
        }

        .register-form {
            .form-actions {
                border: 0;
                margin-bottom: 0;
                padding-bottom: 0px;
            }
        }

        .form-title {
            font-weight: 300;
            margin-bottom: 25px;
        }

        .form-actions {
            clear: both;
            border: 0;
            border-bottom: 1px solid #eeeeee;
            margin-top: $grid-gutter-width;
            margin-bottom: $grid-gutter-width;

            .checkbox {
                margin-left: 0;
                padding-left: 0;
            }

            .btn {
                margin-top: 1px;
                font-weight: 600;
                padding: 10px 20px !important;
            }

            .btn-default {
                font-weight: 600;
                padding: 10px 25px !important;
                color: #6c7a8d;
                background-color: #ffffff;
                border: none;

                &:hover {
                    background-color: #fafaff;
                    color: #45b6af;
                }
            }
        }

        .forget-password {
            font-size: 14px;
            float: right;
            display: inline-block;
            margin-top: 10px;
        }

        .check {
            color: #8290a3;
        }

        .rememberme {
            margin-left: 8px;
            margin-top: 10px;
        }

        .create-account {
            clear: both;
            margin: 0 (-1 * $grid-gutter-width / 2) (-1 * $grid-gutter-width) (-1 * $grid-gutter-width / 2);
            background-color: #6c7a8d;
            border-radius: 0 0 7px 7px;
            text-align: center;

            > a {
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: ($grid-gutter-width / 2) 0;
                font-weight: 600;
                color: #c3cedd;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    footer {
        text-align: center;
        margin: 0 auto 30px 0;
        padding: 10px;
        color: lighten($bg-color, 30%);
        font-size: 13px;
    }
}

@media (max-width: 440px) {
    body {
        main {
            width: 280px;
            margin-top: 10px;

            h3 {
                font-size: 22px;
            }

            .login-form {
                > .login-options {
                    .social-icons {
                        float: left;
                        padding-top: 3px;
                    }
                }
            }

            .forget-password {
                display: inline-block;
                margin-top: 20px;
            }
        }

        .checkbox {
            font-size: 13px;
        }
    }
}
