ul.monthly-sale {
    height: 200px;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
        height: 200px;
        display: inline-block;
        text-align: center;

        > .progress {
            margin-bottom: 0;

            &.vertical {
                float: none;
                width: 50px;
            }
        }

        > .month-name {
            display: block;
            text-align: center;
        }
    }
}
