@import "compass/reset";
@import "compass/css3";

body > header {
    background-color: #555557;
    color: white;

    > h1 {
        text-align: center;
        width: 180px;
        float: left;
        margin: 0;

        @media all and (min-width: 0px) and (max-width: 499px) {
            & {
                display: block;
                float: none;
                clear: both;
                margin: 0 auto;
            }
        }

        > a {
            font-size: 22px;
            color: #f2f2f2;
            margin: 0;
            padding: 0;
            line-height: 37px;
            text-transform: uppercase;

            > span {
                font-size: 28px;
                color: #f2f2f2;
                margin: 0;
                padding: 0;
                line-height: 50px;
                text-transform: uppercase;
            }

            &:hover {
                text-decoration: none;
                color: #f2f2f2;
            }
        }
    }

    > nav {
        @media all and (min-width: 0px) and (max-width: 480px) {
            & {
                float: none;
                text-align: center;

                > ul {
                    float: none;

                    > li {
                        text-align: left;
                    }
                }
            }
        }

        > ul {
            list-style: none;
            padding: 0;
            margin: 0;

            &:first-of-type {
                float: left;

                @media all and (min-width: 0px) and (max-width: 499px) {
                    &:first-of-type {
                        float: right;
                        clear: right;

                    }
                }
            }

            &:nth-of-type(2) {
                float: right;

                @media all and (min-width: 0px) and (max-width: 499px) {
                    &:nth-of-type(2) {
                        float: left;
                        clear: left;
                    }
                }
            }

            > li {
                display: inline-block;

                > button, > a {
                    color: white;
                    text-decoration: none;
                    line-height: 17px;
                    outline: none;
                    padding: 10px 15px;
                    display: inline-block;
                    font-size: 18px;
                    background-color: transparent;
                    border-width: 0;
                    @include transition(all 0.3s ease-in-out);

                    > span.badge {
                        font-size: 10px;
                        font-weight: normal;
                        padding: 0;
                        position: absolute;
                        right: 5px;
                        text-align: center;
                        top: 4px;
                        height: 15px;
                        width: 15px;
                        line-height: 15px;
                        display: block;
                        @include border-radius(50%);
                    }
                }

                &.menu-control > button {
                    padding-left: 0;
                    padding-right: 0;
                }

                > a:hover {
                    background: #7a8b83;
                    color: white;
                    @include transition(all 0.3s ease-in-out);
                }

                > a.right-sidebar, > a.right-sidebar-setting {
                    @include transition(none 0.3s ease-in-out);
                }

                &.menu-control {
                    @media all and (max-width: 1024px) {
                        &.menu-control {
                            display: none;
                        }
                    }

                    > button {
                        float: left;
                        height: 38px;
                        margin-left: 5px;
                        text-align: center;
                        color: #ffffff;
                        outline: none;
                        font-size: 18px;
                        background-color: transparent;
                        border-width: 0;

                        &:hover {
                            color: #FF7878;
                        }
                    }
                }

                &.search-box {
                    margin-left: 5px;
                    text-align: center;

                    @media all and (max-width: 767px) {
                        &.search-box {
                            display: none;
                        }
                    }

                    > button {
                        color: #ffffff;
                        text-decoration: none;
                        line-height: 17px;
                        outline: none;
                        padding: 10px 15px;
                        display: inline-block;
                        @include transition(all 0.3s ease-in-out);
                        font-size: 18px;

                        > span {
                            font-size: 18px;
                            line-height: 12px;
                        }
                    }

                    > form {
                        padding: 0;

                        > label {
                            padding: 10px;
                            margin: 0;
                            font-size: 14px;
                            color: white;
                            background: #ff7878;
                            width: 100%;
                        }

                        > input[type=search] {
                            background: url("/media_assets/images/fickle/b.png") no-repeat scroll 9px center / 19px 19px #f2f2f2;
                            border: none;
                            color: #000;
                            cursor: auto;
                            height: 40px;
                            outline: 0;
                            padding-left: 32px;
                            width: 320px;
                            -webkit-appearance: textfield;
                            -webkit-box-sizing: content-box;
                            font-size: 100%;
                        }

                        > input::-webkit-input-placeholder {
                            color: #999;
                        }

                        > input::-webkit-search-decoration,
                        > input::-webkit-search-cancel-button {
                            display: none;
                        }
                    }
                }

                &.phone-nav-box {
                    display: inline-block;
                    background-color: #58595b;
                    text-align: right;

                    @media all and (min-width: 500px) {
                        & {
                            display: none;
                        }
                    }

                    > a {
                        font-size: 20px;
                        display: inline-block;
                        padding: 10px 20px;
                        outline: 0;
                        color: #ffffff;
                        text-decoration: none;
                        font-weight: normal;
                        text-align: right;
                        line-height: 38px;

                        &:hover {
                            text-decoration: none;
                        }

                        > i {

                            line-height: 28px;
                        }
                    }
                }

                > .dropdown-menu {
                    margin: 0;
                    @include border-radius(1px);
                    padding: 0;
                    border: none;
                    min-width: 275px;

                    > strong {
                        padding: 10px;
                        margin: 0;
                        font-size: 14px;
                        color: white;
                        background: #ff7878;
                        display: block;
                    }

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        float: none;

                        > li.only-link {
                            text-align: center !important;
                            padding: 5px 0 !important;
                            border-bottom: none !important;
                            margin-top: 0 !important;
                            margin-bottom: 0 !important;

                            a {
                                font-size: 14px;
                            }
                        }
                    }
                }

                > .dropdown-menu.right {
                    @media all and (max-width: 480px) {
                        & {
                            left: 0;
                        }
                    }

                    left: auto;
                    right: 0;
                }

                > .dropdown-menu.right.top-tasks {
                    > ul.goal-items {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        > li {
                            border-bottom: 1px dashed #cbc5ba;
                            display: inline-block;
                            margin-bottom: 0;
                            margin-top: 10px;
                            padding: 0 10px;
                            width: 100%;

                            img.goal-user-image {
                                float: left;
                                height: 45px;
                                margin-right: 10px;
                                width: 45px;
                                margin-top: -5px;
                                @include border-radius(50%);
                            }

                            a {
                                padding: 0;
                                display: block;
                                color: #6e6e6e;
                                margin-top: 3px;

                                dl.goal-content {
                                    margin-bottom: 0;
                                    font-size: 14px;
                                    width: 190px;

                                    > dt {
                                        display: inline-block;
                                    }

                                    > dd.progress {
                                        margin-top: 7px;
                                    }

                                    a {
                                        color: #1fb5ad;
                                        font-size: 15px;

                                        &:after {
                                            content: "  -  ";
                                        }
                                    }
                                }

                                &:hover {
                                    background: none;
                                }
                            }
                        }
                    }
                }

                > .dropdown-menu.right.top-notification {
                    @media all and (max-width: 480px) {
                        & {
                            left: -52px;
                        }
                    }

                    > strong {
                        color: white;
                        background: #ff7878;
                    }

                    > ul.ls-feed {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        > li {
                            border-bottom: 1px dotted #cbc5ba;
                            color: dimgrey;
                            background-color: white;
                            font-size: 14px;
                            line-height: 14px;
                            margin-bottom: 10px;
                            padding: 10px 0 10px 33px;
                            position: relative;
                            display: block;

                            > a {
                                padding: 0;
                                color: #6e6e6e;
                                display: block;
                                line-height: 22px;
                                font-size: 14px;

                                &:hover {
                                    background: none;
                                }
                            }

                            .label {
                                @include border-radius(50%);
                                left: 7px;
                                line-height: 11px;
                                padding: 5px;
                                position: absolute;
                                top: 11px;
                                height: 20px;
                                width: 20px;
                            }

                            .date {
                                padding-right: 10px;
                                text-align: right;
                                font-style: italic;
                                font-size: 12px;
                                float: right;
                            }
                        }
                    }
                }

                > .dropdown-menu.right.email-notification {
                    @media all and (max-width: 480px) {
                        & {
                            left: -103px;
                        }
                    }
                    > ul.email-top {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        > li {
                            border-bottom: 1px dashed #cbc5ba;
                            display: inline-block;
                            margin-bottom: 0;
                            padding: 5px 10px;
                            width: 100%;

                            a {
                                padding: 0;
                                display: block;
                                color: dimgrey;

                                &:hover {
                                    background: none;
                                }
                            }

                            .email-top-image {
                                float: right;
                                height: 50px;
                                width: 50px;

                                img {
                                    width: 100%;
                                    @include border-radius(50%);
                                }
                            }

                            .email-top-content {
                                font-size: 14px;
                                padding-top: 6px;
                                line-height: 18px;

                                > div {
                                    font-size: 13px;
                                    font-style: italic;
                                }

                                .badge {
                                    float: right;
                                }

                                a {
                                    color: #1fb5ad;
                                    font-size: 15px;

                                    &:after {
                                        content: "  -  ";
                                    }
                                }
                            }
                        }
                    }
                }

                &.settings-sidebar > form {
                    width: 280px;
                    height: 100%;
                    min-height: 800px;
                    position: fixed;
                    right: -280px;
                    top: 0;
                    z-index: 100;
                    background: #303741;
                    display: inline-block;

                    > .close-button {
                        background-color: transparent;
                        border: none;
                        padding: 0;
                        position: absolute;
                        right: 10px;
                        top: 5px;

                        > a {
                            font-size: 16px;
                            color: #fff;
                            outline: none;
                            text-decoration: none;
                            @include transition(all 0.3s ease-in-out);

                            &:hover {
                                color: #ff7878;
                                text-decoration: none;
                                @include transition(all 0.3s ease-in-out);
                            }
                        }
                    }

                    > h2 {
                        font-size: 0.9em;
                        padding: 12px;
                        margin: 0 0 10px;
                        border: none;
                        color: #ffffff;
                        outline: none;
                        background: #FF7878;
                        width: auto;
                        @include border-radius(0);
                        @include transition(all 0.3s ease-in-out);
                    }

                    > fieldset {
                        color: #7F8186;
                        padding: 10px;

                        > h3 {
                            margin: 0;
                            padding-bottom: 10px;
                            text-transform: capitalize;
                            font-size: 15px;
                        }

                        > .setting-box-content {
                            > h4 {
                                font-size: 12px;
                                padding: 0;
                                margin: 0 0 5px 0;
                                color: #bec0c2;
                            }

                            > ul {
                                list-style: none;
                                margin: 0;
                                padding: 0;

                                > li {
                                    text-align: right;
                                    margin-bottom: 10px;

                                    > span {
                                        color: #bec0c2;

                                        &.switchery {
                                            height: 15px;
                                            width: 30px;

                                            > small {
                                                height: 15px;
                                                width: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .progress-content {
                        padding-right: 20px;
                    }

                }
            }

            > li.only-phone {
                display: none;

                > a {
                    @include transition(none 0.3s ease-in-out);
                }

                > a:hover {
                    background: none;
                    color: #FF7878;
                    @include transition(none 0.3s ease-in-out);
                }
            }

        }

        .open:after {
            border-bottom: 6px solid #FF7878;
            border-left: 6px solid rgba(0, 0, 0, 0);
            border-right: 6px solid rgba(0, 0, 0, 0);
            content: "";
            display: inline-block;
            position: absolute;
            right: 18px;
            top: 33px;
            z-index: 1;
        }
    }
}
