/*
|------------------------------------
| Customized Bootstrap Close Icon
|------------------------------------
*/

.close {
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    width: 9px;
    height: 9px;
    text-indent: -10000px;
    outline: none;
    background: url('#{$global-img-path}remove-icon-small.png') no-repeat !important;
}
