/*
|------------------------------
| Custom icon buttons
|------------------------------
*/

.icon-btn {
    height: 60px;
    min-width: 80px;
    margin: 5px 5px 0 0;
    border: 1px solid #dddddd;
    padding: 12px 0 0 0;
    background-color: #fafafa;
    background-image: none;
    filter: none;

    @if $theme-type == "default" {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    display: inline-block;
    color: #646464;
    text-shadow: none;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;

    &:hover {
        text-decoration: none;
        border-color: #999999;
        color: #444444;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
        transition: all 0.3s ease;

        @if $theme-type == "default" {
            box-shadow: none;
        }

        > .badge {
            transition: all 0.3s ease;

            @if $theme-type == "default" {
                box-shadow: none;
            }
        }
    }

    > div {
        margin-top: 5px;
        margin-bottom: 20px;
        color: $general-panel-font-color;
        font-size: 12px;
        font-weight: 300;
    }

    > .badge {
        position: absolute;
        font-size: 11px;
        font-weight: 300;
        top: -5px;
        right: -5px;
        padding: 3px 6px 3px 6px;
        color: white;
        text-shadow: none;
        border: 0 solid;
        border-radius: 12px;

        @if $theme-type == "default" {
            box-shadow: none;
        }
    }

    > i {
        font-size: 18px;
    }

    .ie8 &:hover {
        filter: none;
    }
}

@if $theme-type == "material-design" {
    .icon-btn {
        border: 0;
        transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

        > div {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 11px;
            color: lighten($general-panel-font-color, 10%);
        }

        @extend .md-shadow-z-1;

        &:hover {
            text-decoration: none;
            @extend .md-shadow-z-2-hover;
        }
    }
}
