swagger: '2.0'
info:
  title: Basis API
  description: Audith Basis API Endpoints
  version: 0.0.1
host: basis.audith.org
schemes:
  - http
basePath: /
produces:
  - application/json
paths:
  /login:
    post:
      description: Log the user in.
      parameters:
        - name: payload
          description: Payload
          required: true
          in: body
          schema:
            type: object
            properties:
              email:
                type: string
                format: email
                description: E-mail address
              password:
                type: string
                description: Password
              remember:
                type: boolean
                description: Binary 'Remember Me' token
      tags:
        - users
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              message:
                type: string
              data: 
                $ref: '#/definitions/User'
        '422':
          description: ValidationException or LoginNotValidException (Unprocessable Entity)
          schema:
            $ref: '#/definitions/Error'
  /logout:
    get:
      description: Log the user out.
      tags:
        - users
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              message:
                type: string
  /users:
    post:
      description: Store a newly created user.
      parameters:
        - name: payload
          description: Payload
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: Full name
              email:
                type: string
                format: email
                description: E-mail address
              password:
                type: string
                description: Password
              password_confirmation:
                type: string
                description: Password confirmation
      tags:
        - users
      responses:
        '201':
          description: Success
          schema:
            type: object
            properties:
              message:
                type: string
              data: 
                $ref: '#/definitions/User'
        '422':
          description: Validation Exception (Unprocessable Entity)
          schema:
            $ref: '#/definitions/Error'
  /users/{userid}:
    get:
      description: Display the specified user information.
      parameters:
        - name: userid
          in: path
          description: User ID
          type: integer
          required: true
      tags:
        - users
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              message:
                type: 'string'
              data: 
                $ref: '#/definitions/User'
        '404':
          description: NotFound Exception
          schema:
            $ref: '#/definitions/Error'
    put:
      description: Update the specified user information.
      parameters:
        - name: userid
          in: path
          description: User ID
          type: integer
          required: true
        - name: payload
          description: Payload
          required: true
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
                description: Full name
              email:
                type: string
                format: email
                description: E-mail address
      tags:
        - users
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              message:
                type: 'string'
        '404':
          description: NotFound Exception
          schema:
            $ref: '#/definitions/Error'
        '422':
          description: Validation Exception (Unprocessable Entity)
          schema:
            $ref: '#/definitions/Error'
    delete:
      description: Remove the specified user record from storage.
      parameters:
        - name: userid
          in: path
          description: User ID
          type: integer
          required: true
        - name: payload
          description: Payload
          required: true
          in: body
          schema:
            type: object
            properties:
              password:
                type: string
                description: Password
      tags:
        - users
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              message:
                type: 'string'
              data: 
                $ref: '#/definitions/User'
        '404':
          description: NotFound Exception
          schema:
            $ref: '#/definitions/Error'
        '422':
          description: Validation Exception (Unprocessable Entity)
          schema:
            $ref: '#/definitions/Error'
  /users/{userid}/edit:
    get:
      description: Show the form for editing user information.
      parameters:
        - name: userid
          in: path
          description: User ID
          type: integer
          required: true
      tags:
        - users
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              message:
                type: 'string'
              data: 
                $ref: '#/definitions/User'
        '404':
          description: NotFound Exception
          schema:
            $ref: '#/definitions/Error'
  /password/email:
    post:
      description: Send a password reset link to the given email's owner, via email.
      parameters:
        - name: payload
          description: Payload
          required: true
          in: body
          schema:
            type: object
            properties:
              email:
                type: string
                format: email
                description: E-mail address
      tags:
        - password
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              message:
                type: string
              data: 
                $ref: '#/definitions/User'
        '404':
          description: NotFound Exception
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: UserAlreadyLoggedIn Exception
          schema:
            $ref: '#/definitions/Error'
  /password/reset:
    post:
      description: Reset the password through password-reset-token and email provided.
      parameters:
        - name: payload
          description: Payload
          required: true
          in: body
          schema:
            type: object
            properties:
              token:
                type: string
                description: Password reset token
              email:
                type: string
                format: email
                description: E-mail address
              password:
                type: string
                description: New password
              password_confirmation:
                type: string
                description: New password confirmation
      tags:
        - password
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              message:
                type: string
              data: 
                $ref: '#/definitions/User'
        '404':
          description: NotFoundException
          schema:
            $ref: '#/definitions/Error'
        '422':
          description: TokenNotValidException or ValidationException (Unprocessable Entity)
          schema:
            $ref: '#/definitions/Error'
definitions:
  User:
    type: object
    properties:
      id:
        type: integer
        description: User ID.
      name:
        type: string
        description: Full name.
      email:
        type: string
        description: E-mail address.
      permissions:
        description: Permissions.
        type: array
        items:
          type: string
      created_at:
        type: string
        format: date-time
        description: Date and time of creation.
      updated_at:
        type: string
        format: date-time
        description: Date and time of update.
      deleted_at:
        type: string
        format: date-time
        description: Date and time of deletion.
  Error:
    type: object
    properties:
      message:
        type: string
        description: Details of error. Can also be escaped JSON object.
      exception:
        type: string
        description: The name of thrown exception.
